@page "/"
@* page directive (route - this is the root /) *@

<h1>Hello, world!</h1> Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />
@* 
    each .razor file defines a reusable UI component
    - similar to react
    - no import/export statement necessary

    update Counter element to add attribute (Counter.razor) to pass data
*@
